@model Agenda.Domain.Contatos.ContatoViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Contato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cep.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplementoEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplementoEndereco)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Voltar</a>
</div>
