@model IEnumerable<Agenda.Domain.Contatos.ContatoViewModel>

@{
    ViewData["Title"] = "Agenda de contatos";
}
<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><spam class="fa fa-plus"></spam> Novo</a>
</p>

@if (Model is null || !Model.Any())
{
    <h2>Não há contatos cadastradas</h2>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                        <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></a>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#excluirModal" data-id="@item.Id"><spam class="fa fa-trash"></spam></button>
                    </td>
                </tr>
            }

            <form id="antiForgeryForm" method="post">
                @Html.AntiForgeryToken()
            </form>
        </tbody>
    </table>
    <p>Foram encontrados @Model.Count() contato(s)</p>
}

<!-- Modal de Exclusão -->
<div class="modal fade" id="excluirModal" tabindex="-1" role="dialog" aria-labelledby="excluirModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="excluirModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir esta contato?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmarExclusao">Excluir</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            var contatoIdParaExcluir;

            var form = $('#antiForgeryForm');
            var token = form[0][0].value;

            $('#excluirModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                contatoIdParaExcluir = button.data('id'); 
            });

            $('#confirmarExclusao').click(function () {
                $.ajax({
                    url: '@Url.Action("Delete", "Contato")' + '/' + contatoIdParaExcluir,
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        alert('Erro ao excluir a contato.');
                    }
                });
            });
        });

    </script>
}